@import "tailwindcss";

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'PlayfairDisplay', serif;
}
